// Variables de couleur
$primary: #00A513;
$inverted-primary: #FF7823;

// Styles de base
body {

    * {
        &.primary-color {
            color: $primary !important;
        }

        &.primary-bg {
            background-color: $primary !important;
        }

        &.primary-border {
            border-color: $primary !important;
        }

        &.primary-fill {
            fill: $primary !important;
        }
    }
}

// Styles inversés
body.inverted {

    * {
        &.primary-color {
            color: $inverted-primary !important;
        }

        &.primary-bg {
            background-color: $inverted-primary !important;
        }

        &.primary-border {
            border-color: $inverted-primary !important;
        }

        &.primary-fill {
            fill: $inverted-primary !important;
        }
    }
}