// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Oswald', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// variable couleur de base de notre Kanban
$primary: #00A513;
$secondary: #FF7823;
$tertiary: #f7f7f7;
$success: #b0b0b0;
$inversionColor: cyan;

$body-bg: $tertiary;